@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import './sass/_variables/colors';
@import './sass/_mixins/_hover-effect.scss';
@import './sass/_mixins/border-animation';
@import './sass/_mixins/gradient-generator';

body {
  background-color: rgb(47, 47, 47);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.button-container {
  min-width: 250px;

  text-align: center;
  position: relative;
  
  &--green {
    .button-container__btn {
      color: $neon-green;
      @include hover-effect($neon-green);
    }
    
    .button-container__line--top {
      @include border-animation($neon-green, green-animation--top, 'top');
      @include gradient-generator(90deg, $neon-green);
    }

    .button-container__line--right {
      @include border-animation($neon-green, green-animation--right, 'right');
      @include gradient-generator(110deg, $neon-green);
    }

    .button-container__line--bottom {
      @include border-animation($neon-green, green-animation--bottom,'bottom');
      @include gradient-generator(260deg, $neon-green);
    }

    .button-container__line--left {
      @include border-animation($neon-green, green-animation--left, 'left');
      @include gradient-generator(360deg, $neon-green);
    }
  }

  &--pink{
    .button-container__btn  {
      color: $neon-pink;       
      @include hover-effect($neon-pink);
    }

    .button-container__line--top {
      @include border-animation($neon-pink, pink-animation--top, 'top');
      @include gradient-generator(90deg, $neon-pink);
    }

    .button-container__line--right {
      @include border-animation($neon-pink, pink-animation--right, 'right');
      @include gradient-generator(110deg, $neon-pink);
    }

    .button-container__line--bottom {
      @include border-animation($neon-pink, pink-animation--bottom,'bottom');
      @include gradient-generator(260deg, $neon-pink);
    }

    .button-container__line--left {
      @include border-animation($neon-pink, pink-animation--left, 'left');
      @include gradient-generator(360deg, $neon-pink);
    }
  }

  &--light-blue {
     .button-container__btn {
      color: $neon-light-blue;
      @include hover-effect($neon-light-blue);
    }

    .button-container__line--top {
      @include border-animation($neon-light-blue, light-blue-animation--top, 'top');
      @include gradient-generator(90deg, $neon-light-blue);
    }

    .button-container__line--right {
      @include border-animation($neon-light-blue, light-blue-animation--right, 'right');
      @include gradient-generator(110deg, $neon-light-blue);
    }

    .button-container__line--bottom {
      @include border-animation($neon-light-blue, light-blue-animation--bottom,'bottom');
      @include gradient-generator(260deg, $neon-light-blue);
    }

    .button-container__line--left {
      @include border-animation($neon-light-blue, light-blue-animation--left, 'left');
      @include gradient-generator(360deg, $neon-light-blue);
    }
  }

  &__btn {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 13px;
  
    text-transform: uppercase;
    letter-spacing: 5px;

    border: none;
    background: transparent;
    padding: 20px; 

    width: 100%;
  }  

  &__line {
    position: absolute;
    padding: .5px;
    width: 1px;
    height: 1px;
    transition: .5s;
    border-radius: 7px;
  }
  
  &__line--top, 
  &__line--right  {
    top: 0;
  }

  &__line--top, 
  &__line--left {
    left: 0;
  }

  &__line--right, 
  &__line--bottom {
    right: 0;
  }

  &__line--left {
    bottom: 0;
  }
}
