@import './reset';
@import '../utility/utility';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body, button, input {
  font-family: 'Poppins', sans-serif;
}
