@import "./globals/global";

.neumorphism-form {
  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffff;
   
  &--account-greeting  {
    width: 45%;

    .neumorphism-form__title {
      margin-bottom: 24px;
    }

    .neumorphism-form__button {
      margin-top: 50px;
    }
  }

  &--account-form {
    width: 55%;

    .neumorphism-form__button {
      margin-top: 30px;
    }
  }

  &__title {
    font-size: 38px;
  }

  &__subtitle {
    width: 92%;
    font-size: 14px;
    font-weight: 400;
    color: #5b5151;
    text-align: center;
  }

  &__button {
    width: 160px;   
    padding: 15px;
    border-radius: 30px;

    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;

    background-color: #4b70e2;
    transition: background-color 1s ease-in-out;

    align-self: center;

    &:hover {
      cursor: pointer;
      background-color: #688cf5;
      transition: background-color 1s ease-in-out;
    }
  }

  .social-media-list {
    display: flex;
    gap: 10px;

    width: 30%;
    margin-top: 20px;

    &__item {
      width: 30px;
      margin-bottom: 20px;   
      
      .social-media-list__button {
        width: 30px;
        height: 30px;
        opacity: 0.5;
  
        box-sizing: border-box;
        text-align: center;
  
        background-repeat: no-repeat;
        background-size: contain;  
        transition: opacity 1s ease-in-out;

        &--facebook {
          margin-left: 8px;
          background-image: url('../../svg/facebook.svg');            
        }
  
        &--linkedin {
          margin-left: 6px;
          background-image: url('../../svg/linkedin.svg');
        }
  
        &--twitter {
          margin-left: 5px;
          background-image: url('../../svg/twitter.svg');
        }
  
        &:hover {
          cursor: pointer;   
          opacity: .7;
          transition: opacity .5s ease-in-out;
        }
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    width: 75%;
    margin-top: 15px;

    &__field {
      width: 100%;
      
      border-radius: 10px;
      box-shadow: inset 4px 4px 1em #cccccc4e,  -4px -4px 1em #d4c4c4a2;
      padding: 15px 20px;

      font-size: 14px;
      font-weight: 400;

      &:focus {
        outline: #4b70e2 solid 2px;
      }
    }
  }
}
