
@mixin border-animation($color, $animation-name,$direction) {
  
  @keyframes #{$animation-name} {
    0% {
      @if $direction == 'top' {
        width: 0%;
      }

      @if $direction == 'right' {
        height: 0%;
      }   

      @if $direction == 'bottom' {
        width: 0%;
      }

      @if $direction == 'left' {
        height: 0%;
      }   
    }

    50%, 100% {
      @if $direction == 'top' {
        width: 100%;
      }

      @if $direction == 'right' {
        height: 100%;
      } 

      @if $direction == 'bottom' {
        width: 100%;
      }

      @if $direction == 'left' {
        height: 100%;
      } 
    }
  }

  animation: $animation-name 1s linear infinite;

  @if($direction == 'top') {
    animation-delay: initial;
  }

  @if($direction == 'right') {
    animation-delay: 0.25s;
  }
  
  @if($direction == 'bottom') {
    animation-delay: 0.10s;
  }

  @if($direction == 'left') {
    animation-delay: .55s;
  }  
}